
# Project files
MANIFEST
.DS_Store
.idea


# ignore docs and build sub-folders
build/*
docs/_build/*
dist
*.egg
*.egg-info


# Ignore (optimized) Python bytecode
*.pyc
*.pyo


# TOX test scripts
.tox


# Project dependencies to ignore
settings.py
data
scripts/e3_settings.py
_mailinglist


# Ipython notebook backups
*.ipynb


# Ignore data files
*.pkl
*.tsv
*.csv
*.json